[Unit]
Description=celery-prometheus-exporter
Documentation=https://github.com/zerok/celery-prometheus-exporter
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/usr/local/etc/default/celery-prometheus-exporter
ExecStart=$PYTHON /usr/local/bin/celery-prometheus-exporter.py $ARGS

[Install]
WantedBy=multi-user.target
