[Unit]
Description=celery-prometheus-exporter
Documentation=https://github.com/zerok/celery-prometheus-exporter
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/etc/default/celery-prometheus-exporter
ExecStart=/usr/bin/python /opt/celery-prometheus-exporter/celery_prometheus_exporter.py $ARGS

[Install]
WantedBy=multi-user.target
